.container{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    align-items: center;
}

.heading{
    color: white;
    font-size: 60px;
}

.box{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    align-items: center;
    width:500px;
    height:500px;
    
    background-color:rgb(1, 9, 20);;
}