body{
  background:url(https://wallpaperaccess.com/full/1268171.jpg);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-weight: 900;
  letter-spacing: 5px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}
.det-container{
  margin-top:60px;
  color: white;
  background: rgb(1, 9, 20);
  width:33%;
  height: 300px;
  display: flex;
  animation-name: animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  flex-direction: column;
  box-shadow: 0 0 10px white;
  cursor: pointer;
}
@keyframes animation{
  50%{
    transition: tranform 1s ease-in;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(179, 255, 144);
  }
  100%{
    transition: tranform 1s ease-in-out;
    transform: scale(1);
  }
}
span{
  font-size: 40px;
  margin: 10px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
